.container {
    height: 120vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 100px;
}

@media all and (min-width: 0px) and (max-width: 656px) {
    .container {
        align-items: center;
        padding: 0px;
    }
}
