.container {
    padding: 100px 0px;
}

.container > h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 20px;
}

.container > div:nth-child(2) {
    display: flex;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
    word-wrap: break-word;
}
