.container {
    width: 250px;
    height: 350px;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: ease-out;
    overflow: hidden;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.container p {
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: white;
    font-size: large;
    font-weight: bold;
    letter-spacing: 1px;
}

.container > button {
    color: white;
    z-index: 2;
    border-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    transition: ease-out;
    opacity: 0;
}

.container:hover {
    transition-duration: 0.4s;
}

.container:hover > p,
.container:hover > img {
    transition: ease-out;
    filter: brightness(10%);
    transition-duration: 0.4s;
}

.container:hover > button {
    left: 50%;
    bottom: 50%;
    transform: translate(-50%);
    transition-duration: 0.4s;
    filter: brightness(100%);
    opacity: 1;
}

.container:not(:hover) > button {
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: 0.4s;
}

.container:not(:hover) > p,
.container:not(:hover) > img {
    transition: ease-out;
    filter: brightness(100%);
    transition-duration: 0.4s;
}
